* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid;
}

.header,
.banner,
.footer {
  grid-column: 1 / span 4;
  height: 50px;
  border: 1px solid;
  width: 100%;
}

.content {
  height: 80px;
  justify-self: center;
  border: 1px solid;
  width: 100%;
}
